.background{
    background-image: url('https://i.chungta.vn/2020/02/17/1-1581877487_860x0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    opacity: 0.4;
    top: 0;
    background-attachment: fixed;
    height: 1120px;
}
body{
    margin: 0;
}

.video-content{
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.video-content a{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    font-size: 60px;
}

